<footer class="bg-gray-200 text-center lg:text-left" style="flex-shrink: 0">
  <div
    id="copyright"
    class="p-4 text-center text-gray-700"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    Copyright:
    <a class="text-gray-800" href="https://www.vincentinttsh.tw/about"
      >vincentinttsh 郭子緯
    </a>
    v3.0
  </div>
</footer>
<script>
  document.getElementById("copyright").innerHTML =
    "© " +
    new Date().getFullYear() +
    " " +
    document.getElementById("copyright").innerHTML;
</script>
