<header style="flex-shrink: 0">
  <nav
    class="navbar sticky-top navbar-expand-lg flex w-full flex-wrap items-center justify-between bg-blue-300 py-4 shadow-lg"
  >
    <div
      class="container-fluid flex w-full flex-wrap items-center justify-between px-6"
    >
      <button
        class="navbar-toggler border-0 bg-transparent py-2 px-2.5 text-gray-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0"
        type="button"
        data-bs-toggle="collapse"
        aria-label="nav button"
        data-bs-target="#navbarSupportedContent"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="bars"
          class="w-6"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
          ></path>
        </svg>
      </button>
      <div class="flex grow items-center lg:grow-0">
        <p
          class="mt-2 ml-2 flex items-center text-gray-900 hover:text-gray-700 focus:text-gray-700 lg:mt-0"
        >
          <img
            src="/static/ttsh.jpg"
            style="height: 40px"
            height="40px"
            width="44px"
            alt="TTSH"
            loading="lazy"
            class="mr-2"
          />
          <span class="text-xl font-extrabold">公開授課系統</span>
        </p>
      </div>
      <div
        class="navbar-collapse collapse flex-grow items-center"
        id="navbarSupportedContent"
      >
        <!-- Left links -->
        <ul class="list-style-none navbar-nav ml-1 mr-auto flex flex-col pl-0">
          <li
            class="nav-item static py-2 text-gray-900 hover:text-purple-900 focus:text-purple-900"
          >
            <a class="nav-link p-0 text-lg font-bold" href="/">首頁</a>
          </li>
          {% if username %}
          <li class="dropdown nav-item static py-2">
            <a
              class="nav-link-icon nav-link flex items-stretch p-0 text-lg font-bold"
              href="#"
              type="button"
              id="openClass"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              公開授課
            </a>
            <div
              class="dropdown-menu absolute left-0 top-full mt-0 hidden w-full gap-6 bg-white px-6 py-5 text-gray-900 shadow-lg lg:px-8"
              aria-labelledby="openClass"
            >
              <a
                href="/class/create"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
              >
                新增
              </a>
              <a
                href="/my/class"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
              >
                我的課程
              </a>
              <a
                href="/my/observation"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
              >
                我的觀課紀錄
              </a>
            </div>
          </li>
          {% endif %} {% if admin %}
          <li class="dropdown nav-item static py-2">
            <a
              class="nav-link-icon nav-link flex items-stretch p-0 text-lg font-bold"
              href="#"
              type="button"
              id="systemManage"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              系統管理
            </a>
            <div
              class="dropdown-menu absolute left-0 top-full mt-0 hidden w-full gap-6 bg-white px-6 py-5 text-gray-900 shadow-lg lg:px-8"
              aria-labelledby="openClass"
            >
              {% if super_admin %}
              <a
                href="/metrics"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
              >
                系統資訊
              </a>
              {% endif %}
            </div>
          </li>
          {% endif %}
          <li class="dropdown nav-item static py-2">
            <a
              class="nav-link-icon nav-link flex items-stretch p-0 text-lg font-bold"
              href="#"
              type="button"
              id="aboutThisSite"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              關於本網站
            </a>
            <div
              class="dropdown-menu absolute left-0 top-full mt-0 hidden w-full gap-6 bg-white px-6 py-5 text-gray-900 shadow-lg lg:px-8"
              aria-labelledby="aboutThisSite"
            >
              <a
                href="#!"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
                >隱私權政策</a
              >
              <a
                href="#!"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
                >服務條款</a
              >
              <a
                href="#!"
                class="block w-full px-6 py-2 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-700 lg:inline"
                >網站資訊</a
              >
            </div>
          </li>
          {% if username %}
          <li class="nav-item static py-2 text-gray-900 lg:collapse">
            <p class="p-0 text-lg font-bold">{{ username }} 你好</p>
          </li>
          <li
            class="nav-item static py-2 text-gray-900 hover:text-purple-900 focus:text-purple-900 lg:collapse"
          >
            <a class="nav-link p-0 text-lg font-bold" href="/logout"> 登出 </a>
          </li>
          {% else %}
          <li
            class="nav-item static py-2 text-gray-900 hover:text-gray-700 focus:text-gray-700 lg:collapse"
          >
            <a class="nav-link p-0 text-lg font-bold" href="/login"> 登入 </a>
          </li>
          {% endif %}
        </ul>
        <!-- Left links -->
      </div>
      <!-- Right elements -->
      <div class="relative flex items-center">
        <ul class="list-style-none navbar-nav mr-auto flex flex-col pl-0">
          {% if username %}
          <li class="nav-item static hidden p-2 text-gray-900 lg:block">
            <p class="p-0 text-lg font-bold">{{ username }} 你好</p>
          </li>
          <li
            class="nav-item static hidden p-2 text-gray-900 hover:text-purple-900 focus:text-purple-900 lg:block"
          >
            <a class="nav-link p-0 text-lg font-bold" href="/logout"> 登出 </a>
          </li>
          {% else %}
          <li
            class="nav-item static hidden p-2 text-gray-800 hover:text-purple-900 focus:text-purple-900 lg:block"
          >
            <a class="nav-link p-0 text-lg font-bold" href="/login"> 登入 </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- Right elements -->
    </div>
  </nav>
</header>
