<header style="flex-shrink: 0">
  <nav
    class="sticky-top w-full flex flex-wrap items-center justify-between py-4 bg-blue-400 shadow-lg navbar navbar-expand-lg"
  >
    <div
      class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
    >
      <button
        class="navbar-toggler text-gray-500 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
        type="button"
        data-bs-toggle="collapse"
        aria-label="nav button"
        data-bs-target="#navbarSupportedContent"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="bars"
          class="w-6"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
          ></path>
        </svg>
      </button>
      <div class="grow items-center flex lg:grow-0">
        <a
          class="flex items-center mt-2 lg:mt-0 ml-2 text-gray-900 hover:text-gray-700 focus:text-gray-700"
          href="/"
        >
          <img
            src="/static/ttsh.jpg"
            style="height: 40px"
            height="40px"
            width="44px"
            alt="TTSH"
            loading="lazy"
            class="mr-2"
          />
          <span class="font-extrabold text-xl">公開授課系統</span>
        </a>
      </div>

      <div
        class="collapse navbar-collapse flex-grow items-center"
        id="navbarSupportedContent"
      >
        <!-- Left links -->
        <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
          <li
            class="nav-item p-2 dropdown static text-gray-900 hover:text-gray-700 focus:text-gray-700"
          >
            <a
              class="font-bold text-lg nav-link p-0"
              href="#"
              type="button"
              id="dropdownMenuButtonX"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              關於本網站
            </a>
            <div
              class="dropdown-menu w-full mt-0 hidden shadow-lg bg-white absolute left-0 top-full"
              aria-labelledby="dropdownMenuButtonX"
            >
              <div class="px-6 lg:px-8 py-5">
                <div class="gap-6">
                  <div class="bg-white text-gray-600">
                    <a
                      href="#!"
                      aria-current="true"
                      class="block lg:inline px-6 py-2 w-full hover:bg-gray-50 hover:text-gray-700 transition duration-150 ease-in-out"
                      >隱私權政策</a
                    >
                    <a
                      href="#!"
                      aria-current="true"
                      class="block lg:inline px-6 py-2 w-full hover:bg-gray-50 hover:text-gray-700 transition duration-150 ease-in-out"
                      >服務條款</a
                    >
                    <a
                      href="#!"
                      aria-current="true"
                      class="block lg:inline px-6 py-2 w-full hover:bg-gray-50 hover:text-gray-700 transition duration-150 ease-in-out"
                      >網站資訊</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% if username %}
          <li
            class="lg:collapse nav-item p-2 static text-gray-900 hover:text-gray-700 focus:text-gray-700"
          >
            <p class="font-bold text-lg p-0">{{ username }} 你好</p>
          </li>
          <li
            class="lg:collapse nav-item p-2 static text-gray-900 hover:text-gray-700 focus:text-gray-700"
          >
            <a class="font-bold text-lg nav-link p-0" href="/logout"> 登出 </a>
          </li>
          {% else %}
          <li
            class="lg:collapse nav-item p-2 static text-gray-900 hover:text-gray-700 focus:text-gray-700"
          >
            <a class="font-bold text-lg nav-link p-0" href="/login"> 登入 </a>
          </li>
          {% endif %}
        </ul>
        <!-- Left links -->
      </div>
      <!-- Right elements -->
      <div class="flex items-center relative">
        <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
          {% if username %}
          <li
            class="hidden lg:block nav-item p-2 static text-gray-900 hover:text-gray-700 focus:text-gray-700"
          >
            <p class="font-bold text-lg p-0">{{ username }} 你好</p>
          </li>
          <li
            class="hidden lg:block nav-item p-2 static text-gray-900 hover:text-gray-700 focus:text-gray-700"
          >
            <a class="font-bold text-lg nav-link p-0" href="/logout"> 登出 </a>
          </li>
          {% else %}
          <li
            class="hidden lg:block nav-item p-2 static text-gray-800 hover:text-gray-700 focus:text-gray-700"
          >
            <a class="font-bold text-lg nav-link p-0" href="/login"> 登入 </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- Right elements -->
    </div>
  </nav>
</header>
