{% extends 'base.html' %} {% block content %}
<div class="justify-center border-4 pb-3">
  <h1 class="text-4xl font-bold text-center mt-3">註冊</h1>
  <hr class="mt-3" />
  <form method="post" role="form" action="/register">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
      <div class="form-floating">
        <input
          type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="username"
          name="username"
          value="{{ username }}"
          readonly
        />
        <label for="username" class="text-gray-700">姓名</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="email"
          name="email"
          value="{{ email }}"
          readonly
        />
        <label for="email" class="text-gray-700">Email address</label>
      </div>
      <div class="mb-3 xl:w-96 form-floating">
        <select
          class="form-control form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="department"
          name="department"
          required
        >
          {% if department %}
          <option disabled value="">選擇部門</option>
          {% else %}
          <option selected disabled value="">選擇部門</option>
          {% endif %} {% for choice in department_choice %} {% if choice.value == department %}
          <option selected value="{{ choice.value }}">{{ choice.text }}</option>
          {% else %}
          <option value="{{ choice.value }}">{{ choice.text }}</option>
          {% endif %} {% endfor %}
        </select>
        <label for="department" class="text-gray-700">部門</label>
      </div>
      <div class="mb-3 xl:w-96 form-floating">
        <select
          class="form-control form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="subject"
          name="subject"
          required
        >
          {% if subject %}
          <option disabled value="">選擇授課科目</option>
          {% else %}
          <option selected disabled value="">選擇授課科目</option>
          {% endif %}
          {% for choice in subject_choice %} {% if choice.value == subject %}
          <option selected value="{{ choice.value }}">{{ choice.text }}</option>
          {% else %}
          <option value="{{ choice.value }}">{{ choice.text }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="department" class="text-gray-700">授課科目</label>
      </div>
    </section>
    <section class="mt-3 flex justify-center">
      <button
        type="submit"
        class="px-6 pt-2.5 pb-2 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="paper-plane"
          class="w-3 mr-2"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"
          />
        </svg>
        註冊
      </button>
    </section>
  </form>
</div>
{% endblock %}
