@tailwind base;
@tailwind components;
@tailwind utilities;

div:focus-within>.input-icon {
    @apply text-blue-600;
}

.accordion-button:not(.collapsed) {
    @apply text-blue-600;
}

.nav-link-icon{
    @apply text-gray-900;
}

.nav-link-icon:hover, .nav-link-icon:focus, .nav-link-icon.show{
    @apply text-purple-900;
}

.nav-link-icon:not(.show)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23111827'%3e %3cpath fill-rule='evenodd' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3e %3c/svg%3e");
    transform: rotate(-180deg);
}

.nav-link-icon::after {
    @apply text-purple-900;
    align-self: center;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.25rem;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23581c87'%3e %3cpath fill-rule='evenodd' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3e %3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 0.75rem;
    rotate: 180deg;
    transition: transform 0.2s ease-in-out;
}

.toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: relative;
    z-index: 1;
    left: 0;
    right: 0;
    top: 5px;
    font-size: 17px;
    white-space: nowrap;
}

.toast .img {
    width: 50px;
    height: 50px;

    float: left;

    padding-top: 16px;
    padding-bottom: 16px;

    box-sizing: border-box;

    color: #fff;
}

.toast .desc {
    color: #fff;

    padding: 16px;

    overflow: hidden;
    white-space: nowrap;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
        fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
        fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 5px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 5px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px;
    }

    to {
        min-width: 350px;
    }
}

@keyframes expand {
    from {
        min-width: 50px;
    }

    to {
        min-width: 350px;
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px;
    }

    to {
        min-width: 350px;
    }
}

@keyframes stay {
    from {
        min-width: 350px;
    }

    to {
        min-width: 350px;
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 5px;
        opacity: 1;
    }

    to {
        top: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 5px;
        opacity: 1;
    }

    to {
        top: 60px;
        opacity: 0;
    }
}